{%extends 'base.html'%}

{%block links%} 
    {%load static%}
    <link rel="stylesheet" type="text/css"  href="{%static 'knowyoursociety/css/rar.css'%}">
    
{%endblock%}

{%block title%}Do's And Dont's | 7Hill Mantra{%endblock%}


{%block content%}

    <div class="rootCont">
        <div class="heading">
            <h1>List of fines / penalties on residents / vendors</h1>
        </div>

        <div class="content">
            <p>Dear FlatMates,</p>
            <p>As per AGM 2013 resolutions management committee is publishing list of fines and penalties. Management committee requests each member to comply with society rules. </p>
            <div class="rarList">
                <p>Here is a list of penalties and fines as mentioned below. </p>
                <ol>
                    
                        <li> Late payment of society dues - Interest @ 18% on overdue amount rounded up to next `100</li>
                        <li>Water tap left open / water wastage - ` 200 per incident per day</li>
                        <li> Leakages in RH overhead tanks - ` 200 per incident per day</li>
                        <li> Wrong parking or any traffic offence - ` 200 per incident per day</li>
                        <li> Spitting or Smoking in common area - ` 200/- per incident</li>
                        <li> Littering in Common Areas - ` 200/- per incident</li>
                        <li> Fixtures on any RCC structures/Pillars – ` 200 per incident per day</li>
                        <li>Discharging dirty water from balconies thru the use of Washing Machine or similar- ` 200 per incident per day</li>
                        <li> Impacting the appearance of external walls by painting in different colour or by keeping flower pots close or outside the external walls or similar – ` 200 per incident per day</li>
                        <li>Chaining the common area and fixtures on RCC columns – ` 200 per incident per day (Management reserves the right to remove the structure or fixtures and recover the costs from member)</li>
                        <li> Non Cooperation / Obstructing security/staff doing their job - ` 200 per incident</li>
                        <li> (Management reserves the right to file police complaint)</li>
                        <li> Any damage to common garden or plants - ` 200/- per incident and cost for fixing the damage</li>
                        <li>Being loud (music or otherwise) after 10 PM – ` 500 per incident (Management reserves the right to file police complaint)</li>
                        <li>Throwing garbage in fire rooms - ` 500/- per incident</li>
                        <li>Driving inside society over 20 KMPH / carelessly driving - ` 500/- per incident</li>
                        <li>Connecting drinking and utility water taps / pipes - ` 1000 per incident + cost to reveres such changes at actual</li>
                        <li>Misuse of Lifts - ` 1000 per trip + cost to repair lift damages, if any, at actual</li>
                        <li> Throwing construction waste in common areas/parking spaces/near staircases - Fine of ` 1000/- + charges for removal of the waste</li>
                        <li>Damage/misuse to Society property and for others not specified above - As per decision of MC</li>
                        <li> Unauthorized Door-to-door selling / awareness programs - ` 1000/- fine and/or Police complaint</li>
                    
                </ol>
            </div>

            <div class="moreInfo">
                <p>The Society office would attempt to deliver the fine notice by hand to the relevant member. However, if the flat is locked or inmate refuses to accept, the notice would be slipped into the tenement or dropped into the post box. The fine would be collected thru the next quarter’s maintenance bill unless member has already paid it. Member would have option to pay in cash and get receipt, provided the fine value is less than ` 1000.</p>
            </div>

        </div>

    </div>
   
{%endblock%}

{%block javascript%}
{%load static%}    

<script src="{%static '/knowyoursociety/js/rar.js'%}"></script>
{%endblock%}